/* write down the css for Carousel in this file */
.carousel {
    width: 50%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.550);
}
.carouselImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
    width: 100%;
}
.carouselImg .leftBtn {
    display: grid;
    flex: 5%;
    height: 100%;
    background-color: black;
    place-items: center; 
    color: white;
    cursor: pointer;
}

.carouselImg .center {
    flex: 80%;
    height: 100%;
    display: grid;
    place-items: center;
    text-align: justify;
    text-align-last: center;
}
.carouselImg .rightBtn {
    flex: 5%;
    display: grid;
    place-items: center;
    height: 100%;
    background-color:black;
    color: white;
    cursor: pointer;
}

h1 {
    font-size: 80px;
    background-color: rgba(255, 255, 255, 0.550);
    padding: 15px;
    border-radius: 10px;
}

p {
    font-size: 45px;
    background-color: rgba(255, 255, 255, 0.550);
    padding: 15px;
    border-radius: 10px;
}